*{
    box-sizing: border-box;
    
}

@font-face {
    font-family: MonR;
    src: url(fuentes/Montserrat-Regular.otf);
  }
  
  @font-face {
    font-family: MonI;
    src: url(fuentes/Montserrat-ThinItalic.otf);
  }

@font-face {
    font-family: MonSB;
    src: url(fuentes/Montserrat-SemiBold.otf);
  }

@font-face {
    font-family: MonB;
    src: url(fuentes/Montserrat-Bold.otf);
  }

@font-face {
    font-family: MonL;
    src: url(fuentes/Montserrat-Light.otf);
  }
  
  

body{
    background: black;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}



nav{
  background: black;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 23px;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a{
  font-family: MonR;
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: #008393;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff,
                inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
  .logo{
    left: 10px;
  }
}


.caja1{ 
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}


.boton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

button{
    background-color: #008393;
    font-family: MonSB;
    font-size: medium; 
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    border-color: transparent;
}

.contenedor-texto{
    display: flex;
    margin-left: 50px;
    margin-top: 160px;
    justify-content: center;
    align-items: center;
}

.video{
  left: 30%;
}

.titulo{
    font-family: MonR;
    font-size: 30px;
}

.escrito{
  font-size: 40px;
    font-family: MonSB;
    font-style: normal;
    color: #008393;
}

.caja2{
 margin-top: 300px;
 margin-bottom: auto;
 margin-right: auto;
}

.texto1{

flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: MonR;
    margin-top: 30%;
    margin-left: 0%;
    font-size: 10px;
}

h1{
    text-align: center;
    font-family: MonB;
}

.hojadevida{
  font-family: MonB;
  background-color: black;
  border-radius: 0%;
  border-color: white;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
}


.italic1{
  font-family: MonI;
  font-size: 15px;
  margin: 0%;
}

.regular{
  font-family: MonL;
  font-size: 18px;
}

.caja3{
  justify-content: center;
  align-content: center;
}

.barritas{
  font-family: MonR;
  font-size: 15px;
  color: white;
}

.skill-bars{
  padding: 25px 30px;
  width: 600px;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 110%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #00878a;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .progress-line.creatividad span{
  width: 92%;
}
.bar .progress-line.asertividad span{
  width: 82%;
}
.bar .progress-line.servicio span{
  width: 85%;
}
.bar .progress-line.flexibilidad span{
  width: 90%;
}
.bar .progress-line.innovacion span{
  width: 95%;
}
.bar .progress-line.inteligencia span{
  width: 90%;
}
.bar .progress-line.ps span{
  width: 95%;
}
.bar .progress-line.il span{
  width: 80%;
}
.bar .progress-line.ae span{
  width: 50%;
}
.bar .progress-line.html span{
  width: 80%;
}
.bar .progress-line.css span{
  width: 80%;
}
.bar .progress-line.ofimatica span{
  width: 70%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color:white;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: white;
  color: black;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.creatividad span::after{
  content: "92%";
  font-family: MonR;
}
.progress-line.asertividad span::after{
  content: "82%";
  font-family: MonR;
}
.progress-line.servicio span::after{
  content: "85%";
  font-family: MonR;
}
.progress-line.flexibilidad span::after{
  content: "90%";
  font-family: MonR;
}
.progress-line.innovacion span::after{
  content: "95%";
  font-family: MonR;
}
.progress-line.inteligencia span::after{
  content: "90%";
  font-family: MonR;
}
.progress-line.ps span::after{
  content: "95%";
  font-family: MonR;
}
.progress-line.il span::after{
  content: "85%";
  font-family: MonR;
}
.progress-line.ae span::after{
  content: "50%";
  font-family: MonR;
}
.progress-line.html span::after{
  content: "80%";
  font-family: MonR;
}
.progress-line.css span::after{
  content: "80%";
  font-family: MonR;
}
.progress-line.ofimatica span::after{
  content: "70%";
  font-family: MonR;
}

.iconos{
  width: 5%;
 margin-right: 5%;
}

.caja4{
  font-family: MonB;
}

.titulos{
  font-family: MonB;
  color: white;
}

.bg-footer {
  background-color: black;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 16px;
  transition: all 0.5s;
  text-align: center;
  font-family: MonR;
}

.footer-link a:hover {
  color: #008393;
}

.contact-info {
  color: #acacac;
  font-size: 14px;
  font-family: MonR;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.whatsapp {
  background-color: #25d366;
  color: #ffffff;
}

.instagram {
  background-color: #e1306c;
  color: #ffffff;
}


.footer-alt {
  color: #acacac;
  font-family: MonR;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
  font-family: MonB;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #008393;
}

.boton{
  text-decoration: none;
  font-family: MonSB;
  font-size: 30px;
  color: white;
  background-color: #008393;
  border-radius: 50px;
    padding: 10px 20px;
    color: white;
    top: 50px;
    justify-content: right;
}